<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MATH_CALC.COM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/MATH_CALC.COM.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="navbar-ml ml-navbar-grid-container bg-primary">
        <div class="navbar-ml-left">
            <i id="navbar-ml-menu" class="bi-list navbar-ml-menu"></i>
        </div>
        <div class="navbar-ml-center navbar-ml-title">MATH-CALC.com</div>
        <div class="navbar-ml-right">
            <form class="d-flex" role="search">
                <input class="form-control me-2 navbar-ml-right-search" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="ml-sidebar-content">
        <div id="ml-sidebar" class="ml-sidebar">
            <!-- content of the sidebar -->
            <p style="margin-top:5px">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
            <p>@Html.ActionLink("Modules", "Index", "Module", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
            <p>@Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
        </div>
        <div class="container-ml" style="margin-left:10px; margin-right:10px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary">© @DateTime.Now.Year Mario Kozlovac</span>
                </div>

               
            </footer>
        </div>



    </div>


    <script>
        // Define the media query
        var mediaQuery = window.matchMedia("(max-width: 768px)");

        // Function to handle the change event
        function handleMediaChange(e) {
            if (e.matches) {
                // Media query matches, apply logic for viewport less than 400px
                console.log("Media query matched! Viewport is less than 400px wide.");
            } else {
                // Media query does not match
                console.log("Media query did not match. Viewport is wider than 399px.");
            }
        }

        // Listen for changes
        mediaQuery.addListener(handleMediaChange);

        // Initial check
        handleMediaChange(mediaQuery);

        document.getElementById('navbar-ml-menu').addEventListener('click', function () {
            var navbar = document.getElementById('ml-sidebar');
            navbar.classList.toggle('active'); // Toggle the 'active' class on the navbar
        });
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>